---
import FaqSection from "./FaqSection/FaqSection";
import SectionContainer from "./SectionContainer/SectionContainer";

const generalFAQ = [
	{
		question: "What services do you provide?",
		answer: `We currently provide a mobile slaughter service to the greater Northport and Colville area in north-eastern Washington state. Coming soon, we will also provide a meat processing service at our Shoppe, located in <a href="#map">downtown Northport, WA.</a> Subscribe to our <a href="/newsletter/subscribe">Newsletter</a> to be the first to know when our processing Shoppe will open!`,
	},
	{
		question: "Where are you located?",
		answer: 'Right smack dab in the middle of <a href="#map">Northport, Washington!</a>',
	},
	{
		question: "When will your processing Shoppe be open for business?",
		answer: 'Our Shoppe is currently under construction and our current best estimate for when it will be opened is this fall, 2022. Subscribe to our <a href="/newsletter/subscribe">Newsletter</a> to be notified when the Shoppe opens!',
	},
	{
		question: `Do you raise animals for sale?`,
		answer: `No, we only butcher and process farm animals from other farms. Check out our <a href="/services">Services page</a> for more information.`,
	},
	{
		question: "Do you process poultry?",
		answer: `Unfortunately, due to the time required we will not be processing any poultry. See our <a href="/services">Services page</a> for the list of animals we handle.`,
	},
];
---
<SectionContainer title="General Questions">
	<FaqSection questionList={generalFAQ} />
</SectionContainer>