.subheading {
	width: calc(100% - 14px);
	padding-left: 24px;
	font-size: 20px;
	color: var(--subheading-gray);
	margin: 0 auto 12px auto;
	text-align: center;
}

.container {
	width: 94%;
	margin: 0 auto 12px auto;
}
