.form-container {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	height: var(--schedule--item-height);
	justify-content: center;
	align-items: center;
	/* margin: 0px auto; */
	padding: 16px 0px;
	background-color: rgb(239, 204, 172);
}

.scheduler-form {
	display: grid;
	height: 100%;
	gap: auto;
}

.scheduler--heading {
	text-align: center;
	margin: auto;
}

.input-container {
	margin: auto;
	width: 90%;
	display: flex-column;
}

.date-time-picker {
	width: 250px;
	height: 30px;
	font-size: 20px;
}

.date-time-picker--container {
	padding: 4px;
	background: #216ba5;
	color: #fff;
	/* border-radius: 5px; */
}

.react-datepicker {
	border-radius: 0px;
}

.scheduler--input {
	display: block;
	width: 100%;
	font-size: 20px;
}

.scheduler--label {
	width: 100px;
	justify-self: center;
	font-size: 20px;
}

.btn-container {
	display: flex;
	justify-content: center;
	margin: auto;
}

.form-container .btn {
	background-color: #ddd;
}
