.scheduler--heading {
	text-align: center;
	margin: auto;
}

.input-container {
	margin: 0 auto;
	/* width: 100%; */
	display: flex-column;
	justify-content: center;
}

.date-time-picker {
	width: 250px;
	height: 30px;
	font-size: 20px;
}

.date-time-picker--container {
	padding: 4px;
	background: #216ba5;
	color: #fff;
	/* border-radius: 5px; */
}

.react-datepicker {
	border-radius: 0px;
}

.scheduler--input {
	/* display: block; */
	width: 100%;
	font-size: 20px;
}


.btn-container {
	display: flex;
	justify-content: center;
	margin: auto;
}

.form-container .btn {
	background-color: #ddd;
}
