.homepage-title {
	height: 60vh;
	/* min-height: 400px; */
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}
.homepage-title--subheading,
.homepage-title--heading {
	padding: 0 2vw;
}

.homepage-title > p {
	margin-top: 8px;
	color: #fff;
	font-size: 32px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	text-shadow: -2px 2px #000;
	text-align: center;
}

.hero-btns {
	margin-top: 32px;
}

.hero-btns .btn {
	margin: 6px;
}

.fa-play-circle {
	margin-left: 4px;
}

@media screen and (max-width: 960px) {
	.homepage-title {
		height: 40vh;
	}
	.homepage-title > p {
		font-size: 30px;
	}

	.btn-mobile {
		display: block;
		text-decoration: none;
	}

	.hero-btns .btn {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	.homepage-title {
		height: 28vh;
	}

	.homepage-title > p {
		font-size: 20px;
	}
}
