.homepage-title {
	height: clamp(20vw, 30rem, 60vw);
}

/* .homepage-title--blend {
	height: clamp(20vw, 20em, 60vw);
	position: absolute;
	background-image: url("../../assets/logo/logo_tiny.svg");
	background-position: "center";
	background-size: "cover";
	background-repeat: "no-repeat";
	mix-blend-mode: "multiply";
} */

.homepage-title--heading {
	font-size: clamp(1.8em, 9vw, 4.5em);
	margin-top: 0;
}

.homepage-title--subtitle {
	margin-top: 8px;
	/* color: #fff; */
	font-size: clamp(0.85em, 4vw, 2em);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	text-align: center;
}

.hero-btns {
	margin-top: 3%;
	width: 90%;
	display: flex;
	justify-content: center;
}

.hero-btns .btn {
	width: clamp(140px, 18vw, 20vw);
	font-size: clamp(15px, 2vw, 26px);
	margin: 6px;
}

.fa-play-circle {
	margin-left: 4px;
}

.each-slide {
	/* height: 100%; */
	/* width: 100%; */
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 480px) {
}
