.react-datepicker {
	border-radius: 0px;
}

.scheduler--input {
	/* display: block; */
	width: 100%;
	font-size: 20px;
}


.btn-container {
	display: flex;
	justify-content: center;
	margin: auto;
}

.form-container .btn {
	background-color: #ddd;
}



.react-datepicker__day[class*="-selected"],
.react-datepicker__day[class*="--in-range"] {
	background: var(--calendar-red);
}

.react-datepicker__day[class*="--in-selecting-range"] {
	background: var(--calendar-red-selecting);
}