

/* .form__center {
	border: 3px solid purple;
}
.form__center > * {
	border: 1px solid green;
}
.form__center > * > *{
	border: 2px solid red;
}
.form__center > * > * > * {
	border: 2px solid green;
}
.form__center > * > * > * > * {
	border: 2px solid red;
}
.form__center > * > * > * > * > *{
	border: 2px solid green;
}
.form__center > * > * > * > * > * > *{
	border: 2px solid red;
}
.form__center > * > * > * > * > * > * > *{
	border: 2px solid green;
}
.form__center > * > * > * > * > * > * > * > *{
	border: 2px solid red;
}
.form__center > * > * > * > * > * > * > * > * > *{
	border: 2px solid green;
} */


.form__center {

	width: min(1000px, 96%);
	margin: 0 auto;

	gap: 2rem;
}

.form__center > div {
	width: 100%;
}

.heading_container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px;
}
.submit {
	font-size: 20px;
}
