/* .Collapsible {
	background-color: #f1f1f1;
}

.Collapsible__contentInner {
	padding: 10px;
	border: 1px solid lightGrey;
	border-top: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}

.Collapsible__trigger {
	display: block;
	text-align: center;
	font-size: 1.6rem;
	text-decoration: none;
	position: relative;
	border: 1px solid white;
	padding: 10px;
	background: rgb(
			var(--harvest-gold--r),
		var(--harvest-gold--g),
		var(--harvest-gold--b)
	);
	color: black;
	cursor: pointer;
}

.Collapsible__trigger:is-open:after {
	transform: rotateZ(180deg);
}

.Collapsible__trigger:is-disabled {
	opacity: 0.5;
	background-color: grey;
} */
