.beef__split_half_section {
	height: 0;
	color: rgba(0, 0, 0, 0);
	max-height: 0;
	margin-top: 40px;
	padding: 0px 4px;
	transition: all 0.4s ease;
}

.beef__split_half_section__show {
	height: 274px;
	/* height: 300px; */
	max-height: 1000px;
	padding: 16px 4px;
	transition: all 0.4s ease;
}
