.order-form {
	width: 90vw;
	min-width: 420px;
	margin: 20px auto;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 40px;
	justify-content: space-around;
	background-color: #fff;
	/* align-items: stretch; */
}

.accordion-wrapper {
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	/* display: grid;
	grid-template-columns: auto 15%; */
	margin: 10px;
	width: 60vw;
	min-width: 400px;
	margin: auto;
	border: 1px solid #ccc;
	background-color: rgba(
		var(--orange-bg--r),
		var(--orange-bg--g),
		var(--orange-bg--b),
		0.7
	);
}

/* Accordion styling */
/* Accordion item contains item-title and item-body, item-body holds children*/
.react-sanfona {
	/* padding: 10px; */
	/* background-color: #fff; */
	border-radius: var(--card-border-radius);
	width: 100%;
	min-width: 336px;
	display: inline-block;
	padding: 2px;
	z-index: 1;
	background-color: rgb(224, 224, 224);
	transition: all 0.5s ease;
}

/* whole item container, expands and shrinks */
.react-sanfona-item {
	padding: 10px;

	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
}

/* section title inside container */
.react-sanfona-item-title {
	background-color: #fff;
	padding: 10px;
	font-size: 30px;
	text-align: left;
	transition: all 0.3s ease-out;
	width: 100%;
	/* width: 400px; */
	/* border: 1px solid grey; */
}

:not(.react-sanfona-item-expanded) > .react-sanfona-item-title::after {
	text-align: right;
	content: "...";
	display: inline;
}
.react-sanfona-item-expanded.react-sanfona-item-title::after {
	text-align: right;
	content: "";
	display: inline;
}

/* when item expanded, section title */
.react-sanfona-item-expanded .react-sanfona-item-title {
	text-decoration: underline;
	font-size: 26px;
	text-align: center;
	/* color: #000; */
	background-color: #f3f3f3;
	transition: all 0.15s ease-out;
}
.react-sanfona-item-expanded {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.15s;
}

/* grabs first item container -> title inside it*/
/* .react-sanfona-item:first-child .react-sanfona-item-title {
  border-left: none;
  border-top: none;
} */

/* wrapper around the content body*/

.react-sanfona-item-body-wrapper {
	color: #000;
	padding: 12px;
	padding-top: 0px;
	position: relative;
	background-color: #fff;
	transition: all 0.3s ease-out;
}

.react-sanfona-item-expanded .react-sanfona-item-body-wrapper {
	background-color: #f3f3f3;
	transition: all 0.3s ease-out;
}
/* END  Accordion styling */

.accordion-close-all-wrapper-hidden {
	/* display: none; */
	overflow: hidden;
	width: 0;
	max-width: 200px;
	transition: all 0.5s ease;
}

.accordion-close-all-wrapper {
	display: flex;
	justify-content: center;
	height: auto;
	min-width: 60px;
	width: 10%;
	cursor: pointer;
	transition: all 0.5s ease;
	/* background-color: rgb(224, 224, 224); */
}

.accordion-close-all-title {
	/* min-width: 60px;
	width: 10%; */
	font-size: 1.2rem;
	text-align: center;
	margin: auto;
	height: auto;
	/* transition: all 2s ease; */
}

.order-form--section {
	margin: 0px;
	padding: 16px 4px;
	width: 100%;
	display: grid;
	gap: 20px;
}

.order-form--section-subheading {
	width: calc(100% - 14px);
	margin-left: 14px;
	font-size: 20px;
	color: var(--subheading-gray);
	margin-bottom: 12px;
	text-align: center;
}

.order-form--section-subheading-container {
	margin-bottom: 12px;
}

.dot {
	height: 6px;
	width: 6px;
	background-color: var(--subheading-gray);
	border-radius: 50%;
	display: inline-block;
	margin: 3px;
}

.order-form--input,
.order-form--select {
	display: block;
	width: 100%;
	font-size: 18px;
}

.order-form--checkbox-container {
	margin-left: 2vw;
	display: grid;
	grid-template-columns: 40px 200px;
	grid-row: auto;
	grid-row-gap: 10px;
}
.order-form--checkbox {
	height: 20px;
}

.order-form--input-left,
.order-form--input-right {
	display: inline-block;
	width: 50%;
}

.order-form--label {
	display: block;
	font-size: 24px;
}

.order-form--label-small {
	font-size: 20px;
}

.order-form--textarea {
	width: 100%;
	height: 200px;
}

.order-form--submit {
	margin: 20px;
	font-size: 20px;
}

.form-required {
	margin-left: 4px;
	color: red;
}

.order-form--heading-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px;
}

@media screen and (max-width: 960px) {
	/* .react-sanfona {
		width: 80%;
	} */

	.react-sanfona-item-title {
		font-size: 28px;
	}

	.order-form--label {
		display: block;
		font-size: 20px;
	}

	.order-form--label-small {
		font-size: 18px;
	}

	.order-form--input,
	.order-form--select {
		display: block;
		width: 100%;
		font-size: 16px;
	}
	.order-form--checkbox {
		height: 16px;
	}

	.order-form--textarea {
		width: 100%;
		height: 160px;
		resize: vertical;
	}
}

@media screen and (max-width: 480px) {
	/* .react-sanfona {
		width: 90%;
	} */
	.order-form.card.panel--shadow {
		box-shadow: none;
	}

	.react-sanfona-item-title {
		font-size: 26px;
	}

	.order-form--label {
		display: block;
		font-size: 18px;
	}

	.order-form--label-small {
		font-size: 16px;
	}

	.order-form--input,
	.order-form--select {
		display: block;
		width: 100%;
		font-size: 16px;
	}
	.order-form--checkbox {
		height: 16px;
	}

	.order-form--textarea {
		width: 100%;
		height: 160px;
		resize: vertical;
	}
}
