.form--instructions {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.2rem;
}

.form--steps {
	width: 80%;
	margin: 0 auto;
}

details > :nth-child(2){
	padding: 0.5rem;
	background: #eee;
	margin: 0.5rem 0;
}

details ul li{
 margin-left: 2rem;
}

details ul {
	list-style-type: disc;
	
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}