.services-btns-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2vh auto;
	height: 60px;
	gap: 10px;
}

.card-wrapper {
	padding-top: 3vh;
}

#butchering-link {
	padding-top: 8vh;
}

.container {
	margin: auto;
	padding: 0.5rem;
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
}

.card-content-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	padding: 10px 10px;
	gap: 20px;
}

.skinny-blerb {
	min-width: 400px;
	max-width: 50%;
}


.indent {
	padding-left: 2em;
}

.prices-grid-title {
	margin: 2rem 0;
}


.prices-grid-container {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	border: 1px solid black;
	row-gap: 1.5rem;
	column-gap: 2rem;
	padding: 1rem;
	width: min(1000px, 96%);

	align-items: center;
	background-color: #f5faf5fa;

}

.prices-grid-header {
	/* font-size: 1.3rem; */
	margin: -1rem 0;
	grid-column: span 2;
	/* justify-self: left; */
	/* margin-left: 0.5rem; */
	color: #333;
}

.prices-grid-spacer {
	grid-column: 1 / 7;
	border-bottom: 1px solid grey;
}


.prices-grid-item {
	font-size: 1.3rem;
	grid-column: span 2;
	/* grid-row: span 2; */
}

[class^="prices-minimum"] {
	grid-column: span 3;
	font-size: 1.3rem;
	text-align: center;
}