@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('fonts/pt-sans-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	font-display: swap;
}

@font-face {
	font-family: 'Franklin Gothic Heavy Regular';
	font-style: normal;
	font-weight: normal;
	src: local(''),
		url('fonts/Franklin\ Gothic\ Heavy\ Regular/Franklin\ Gothic\ Heavy\ Regular.ttf')
			format('truetype');
	font-display: swap;
}

:root {
	/* navbar, footer */
	--grey-bg: #e8e8e8;

	--logo-font-family: 'Franklin Gothic Heavy Regular';
	--logo-red: #a13d33;
	/* scheduler, sectionContainer */
	--calendar-red: #a13d33cc;

	--text-dark: #242424;
	--subheading-gray: #444;
	/* subscribe module (contact, order?) */
	--input-placeholder--light: #aaa;

	/* Contact, Subscribe (Order?) */
	--input-required--valid: rgb(231, 255, 231);
	--input-required--invalid: rgb(255, 231, 231);

	/* Button, Header */
	--transition: all 0.1s ease-out;

	--header-height: 2rem;
	--navbar-height: 4.1rem;
	--footer-content--width: 1000px;

	--card--font-size: clamp(1rem, 5vw, 1.2rem);

	/* page titles */
	--inset-box-shadow--dark: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
}

html {
	font-size: 20px;
	scroll-padding-top: 4rem;
}

p {
	font-size: var(--card--font-size);
	line-height: 2;
}

@media (max-width: 960px) {
	p {
		line-height: 1.8;
	}
}

/* app only */
.website-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

/* everything below the navbar+header */
/* app only */
.website-content-container {
	background-color: rgba(193, 248, 255, 0.5);
	margin-top: var(--header-height); /* sets it below the header */
}

/* flex selectors: */

[class*='flex'] {
	display: flex;
}

[class*='flex-'][class*='col'] {
	flex-direction: column;
}
[class*='flex-'][class*='row'] {
	flex-direction: row;
}
[class*='flex-'][class*='wrap'] {
	flex-wrap: wrap;
}

[class*='flex-'][class*='jcenter'] {
	justify-content: center;
}
[class*='flex-'][class*='jevenly'] {
	justify-content: space-evenly;
}
[class*='flex-'][class*='jaround'] {
	justify-content: space-around;
}
[class*='flex-'][class*='jbetween'] {
	justify-content: space-between;
}

[class*='flex-'][class*='acenter'] {
	align-items: center;
}
[class*='flex-'][class*='astretch'] {
	align-items: stretch;
}
[class*='flex-'][class*='astart'] {
	align-items: flex-start;
}
[class*='flex-30'] {
	flex: 30%;
}
[class*='flex-50'] {
	flex: 50%;
}

/* Gaps for flex and grid */

/* FaqSection, DateSelector, Footer */
.gap-4 {
	gap: 4rem;
}

/* Footer, Header, HowToOrder, Services */
.gap-1 {
	gap: 1rem;
}

/* Grid styles */

[class*='grid-'] {
	display: grid;
	justify-content: center;
}
/* Home, Fallback */
.grid-row-gap-8 {
	grid-row-gap: 8em;
}

/* box-shadow: x y blur spread color */

/* panel shadows, text shadows */

/* Footer, HomepageTitle, PageTitle, WhitePageBackground, MeetTheTeam */
.panel-shadow--dark {
	--panel-shadow-dark-small: 0 0 8px 2px rgba(0, 0, 0, 0.3);
	--panel-shadow-dark-wide: 0 8px 20px 8px rgba(0, 0, 0, 0.19);
	box-shadow: var(--panel-shadow-dark-wide), var(--panel-shadow-dark-small);
}
/* Navbar, Subscribe, HowToOrder, Services */
.panel-shadow--light {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* large screens */
/* card, homepage title, page title */
.text-shadow--lg {
	text-shadow: -3px 3px 10px #000;
}

/* medium screens */
@media screen and (max-width: 960px) {
	/* card, homepage title, page title */
	.text-shadow--lg {
		text-shadow: -2px 2px 9px #000;
	}
}

/*  small screens */
@media screen and (max-width: 480px) {
	/* card, homepage title, page title */
	.text-shadow--lg {
		text-shadow: -1px 1px 8px #000;
	}
}

/* Padding + Margin classes */

/* Fallback, Home */
.padding-2--bot {
	padding-bottom: 2em;
}

/* Card, AnimalsBasic */
.padding-2--vertical {
	padding-top: 2em;
	padding-bottom: 2em;
}

/* Membership, NotFound */
.margin-2--bot {
	margin-bottom: 2rem;
}

/* text and card styles */

.text-white {
	color: #fff;
}
.text-center {
	text-align: center;
}

/* Card Styles */

.card--font-size {
	font-size: var(--card--font-size);
}

.card--width {
	width: 92%;
	margin: auto;
}

.card--content-width {
	max-width: 65ch;
	margin: auto;
}
