---
import MainLayout from '../layouts/MainLayout.astro';
import PageLayout from '../layouts/PageLayout.astro';

import titleBgImage from "../assets/images/image-1-116-cropped-55.jpg";

import PageTitle from '../components/PageTitle/PageTitle';
import NavBottomButtons from '../components/NavBottomButtons/NavBottomButtons';

import GeneralQuestionsSection from '../components/GeneralQuestionsSection.astro';
---

<MainLayout>
	<Fragment slot="meta-slot">
		<title>
			Frequently Asked Questions | The Butcher Shoppe | Northport, WA
		</title>
		<meta
			name="description"
			content="Have questions about our services? Here's some common Q's and A's."
		/>
	</Fragment>
	

	<PageLayout slot="page-content">
		<PageTitle
			slot="page-header"
			title="FREQUENTLY ASKED QUESTIONS"
			bgImage={titleBgImage}
			smaller={true}
		/>

		<div slot="page-body" class="flex-col-acenter container">
			<div class="tabbed">
				<input type="radio" id="tab1" name="faq-css-tabs" checked>

				<ul class="labels-container">
					<li class="label">
						<label for="tab1">General Questions</label>
					</li>
				</ul>
			
				<div class="tab-content">
					<GeneralQuestionsSection />
				</div>
			</div>
		</div>

		<NavBottomButtons
			slot="bottom-nav-buttons"
			prev={{ link: "/services", title: "Services" }}
			next={{ link: "/order", title: "Order Form" }}
		/>
	</PageLayout>

</MainLayout>


<style>
.container {
	width: min(1000px, 96%);
	margin: 0 auto;
	gap: 2rem;
}



/* tab styles */
.tabbed {
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	margin: 32px 0;
	padding-bottom: 16px;
}

.tabbed [type="radio"] {
	display: none;
}

.labels-container {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
.label > label {
	font-size: 1rem;
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px solid #ccc;
	background: #eee;
	color: var(--text-dark);
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;	
	transition: all 0.3s;
}
.label:hover label {
	/* border-top-color: #333; */
	border-top-color: var(--logo-red);
	color: #333;
}

.tab-content {
	display: none;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */

/* Change label based on if it's selected */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .labels-container .label:nth-of-type(1) label
/* ,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .labels-container .label:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .labels-container .label:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .labels-container .label:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .labels-container .label:nth-of-type(5) label,
.tabbed [type="radio"]:nth-of-type(6):checked ~ .labels-container .label:nth-of-type(6) label  */
{
	border-bottom-color: #fff;
	border-top: 4px solid var(--logo-red);
	padding: 9px 15px 12px;
	background: #fff;
	color: var(--text-dark);
}

/* Show content based on selected tab */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1)
/* ,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tab-content:nth-of-type(6)  */
{
	display: block;
}

</style>



