---
import MainLayout from '../layouts/MainLayout.astro';
import PageLayout from '../layouts/PageLayout.astro';

import titleBgImage from "../assets/images/image-1-116-cropped-55.jpg";

import PageTitle from '../components/PageTitle/PageTitle';
import NavBottomButtons from '../components/NavBottomButtons/NavBottomButtons';

import Tabs from '../components/Tabs.astro';
// import TabsDynamic from '../components/TabsDynamic.astro';
// import TabsLayout from '../layouts/TabsLayout.astro';
// import Tabs from "../components/Tabs/Tabs";

// import FaqContainer from '../components/FaqContainer/FaqContainer'

// import SectionContainer from '../components/SectionContainer/SectionContainer';
// import FaqSection from '../components/FaqSection/FaqSection';

// import { Tab, Tabs, TabList, TabPanel } from "react-tabs";
// import "react-tabs/style/react-tabs.css";


---



<MainLayout>
	<Fragment slot="meta-slot">
		<title>
			Frequently Asked Questions | The Butcher Shoppe | Northport, WA
		</title>
		<meta
			name="description"
			content="Have questions about our services? Here's some common Q's and A's."
		/>
	</Fragment>
	

	<PageLayout slot="page-content">

		<PageTitle
			slot="page-header"
			title="FREQUENTLY ASKED QUESTIONS"
			bgImage={titleBgImage}
			smaller={true}
		/>

		<div slot="page-body" class="flex-col-acenter container">
			<!-- <FaqContainer client:only="react"/> -->
			<Tabs />
			
		</div>

		<NavBottomButtons
			slot="bottom-nav-buttons"
			prev={{ link: "/services", title: "Services" }}
			next={{ link: "/order", title: "Order Form" }}
		/>

	</PageLayout>

</MainLayout>

<style>
.container {
	width: min(1000px, 96%);
	margin: 0 auto;
	gap: 2rem;
}

/* .tabs-container {
	
} */
</style>



