---
import MainLayout from '../layouts/MainLayout.astro';
import PageLayout from '../layouts/PageLayout.astro';

import titleBgImage from "../assets/images/image-1-156-cropped-55.jpg";

import PageTitle from '../components/PageTitle/PageTitle';
import NavBottomButtons from '../components/NavBottomButtons/NavBottomButtons';
import Card from '../components/Card/Card';
---
<MainLayout>
	<Fragment slot="meta-slot">
		<title>
			Membership | The Butcher Shoppe | Northport, WA
		</title>
		<meta
			name="description"
			content="Our Membership program is in the works; stay tuned to our newsletter for info!"
		/>
	</Fragment>
	

	<PageLayout slot="page-content">
		<PageTitle
			slot="page-header"
			title="Membership"
			bgImage={titleBgImage}
		/>

		<Card 
			slot="page-body"
			title="Membership Program" 
			subtitle="Coming Soon"
		>
			<p class="margin-2--bot">
				Subscribe to our{" "}
				<a href="/newsletter/subscribe">newsletter</a> to
				get the details when they are available.
			</p>
		</Card>

		<!-- <NavBottomButtons 
			slot="bottom-nav-buttons" 
			prev={{ title: "Services" , link: "/services" }} 
			next={{ title: "FAQ" , link: "/faq"
			}} 
		/> -->

	</PageLayout>

</MainLayout>

<style>
	
</style>
