---
import MainLayout from '../layouts/MainLayout.astro';
import PageLayout from '../layouts/PageLayout.astro';
import titleBgImage from "../assets/images/image-1-3-cropped-55.jpg";

import PageTitle from '../components/PageTitle/PageTitle';
import OrderForm from '../components/OrderForm/OrderForm';
import NavBottomButtons from '../components/NavBottomButtons/NavBottomButtons';
---

<MainLayout>
	<Fragment slot="meta-slot">
		<title>
			Order Page | The Butcher Shoppe | Northport, WA
		</title>
		<meta
			name="description"
			content="Place your order for our mobile slaughter service! Coming soon, we will offer meat processing!"
		/>
	</Fragment>
	

	<PageLayout slot="page-content">
		<PageTitle
			slot="page-header"
			title="Schedule For Our Service"
			bgImage={titleBgImage}
			smaller
		/>

		<Fragment slot="page-body">
			<h3 class="flex-jcenter-acenter phone_heading">
				Please fill out the order form below, or give us a call at:
				<a class="phone" href="tel:15096406766">
					(509) 640-6766
				</a>
			</h3>
			
			<OrderForm client:load/>

			<h3 class="flex-jcenter-acenter phone_heading">
				If you have any questions or need to make adjustments, give us a call at:
				<a class="phone" href="tel:15096406766">
					(509) 640-6766
				</a>
			</h3>
		</Fragment>

		<!-- <NavBottomButtons
			slot="bottom-nav-buttons"
			prev={{ link: "/services", title: "Services" }}
			next={{ link: "/order", title: "Order Form" }}
		/> -->
	</PageLayout>

</MainLayout>

<style>
.phone {
	margin-left: 0.4rem;
}

.phone_heading {
	margin: 0 2vw;
	margin-bottom: 3rem;
	display: inline;
	text-align: center;
}
</style>
