.faq-section {
	padding: 2rem 2rem 4rem 2rem;
	margin: 4vh 4vw;
	/* background-color: #bcf; */
	transition: all 0.5s;
}

.faq-section__title {
	margin: auto;
	margin-bottom: 1.5rem;
	font-size: 1.8rem;
	text-align: center;
}

.faq-section__text {
	margin: 0 4vw;
	height: auto;
	/* border: 2px solid #888; */
	/* border-radius: 10px; */
	padding: 1vw;
	transition: all 0.5s;
	/* background-color: rgba(255, 255, 255, 0.5); */
}


.faq-section__text__slider {
	overflow-y: hidden;
	max-height: 500px; /* approx max height*/
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	margin-bottom: 2rem;
}

.faq-section__text__slider.closed{
	max-height: 0;
}

.faq_question {
	padding-left: 1.25rem;
	margin-bottom: 0.5rem;
	font-size: 1.6rem;
}

.faq_question__container {
	padding: 1.5rem 1rem;
}

.fa-chevron-up,
.fa-chevron-down {
	margin-left: 0.25rem;
}

.expand-icon {
	display: flex;
	justify-content: space-between;
	width: 80px;
	/* margin-top: 40px; */
}

.expand-icon:hover {
	color: #fff;
	transition: ease-out 0.1s;
}

a.expand-icon {
	text-decoration: none;
	color: #000;
}



@media screen and (max-width: 960px) {
	.faq-section {
		margin: 0;
		padding-bottom: 10px;
	}

	.faq_question__container {
		padding: 10px;
	}
}