.container {
	padding-bottom: 1rem;
}

.question {
	margin-bottom: 0.8rem;
	font-size: 1.25em;
	line-height: 1.2;
	border-bottom: 1px solid grey;
}

.small {
	margin-right: 0.4rem;
	color: var(--faq-qa-red);
}

.answer::before {
	content: "a. ";
	color: var(--faq-qa-red);
}