.container {
	
	background-color: var(--footer-background-color);
}

.image {
	max-width: 2000px;
	margin: 0 auto;
	
	min-height: 30vh;
	/* box-shadow: inset calc(-10vw + 8rem) 0 2vw 0
	var(--footer-background-color) */
}
/* calc(-2vw + 1rem) */
@media (min-width: 1200px) {
	.image {
		box-shadow: 
		/* inset calc(-2vw + 1.5rem) 0 calc(4vw - 2rem) 0
				var(--footer-background-color), */
			inset 0 0 calc(4vw - 2rem) 0
				var(--footer-background-color),
				inset 0 0 calc(2vw - 2rem) 0
				var(--footer-background-color),
			/* inset calc(8vw - 6rem) 0 0 0
			hotpink,
				var(--footer-background-color), */
				/* inset calc(10vw - 8rem) 0 
				2vw 0 var(--footer-background-color), */
				/* inset calc(4vw) 0 
				2vw 0 var(--footer-background-color), */
				var(--inset-box-shadow--dark);
	}
}