.page-title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	min-height: 30vh;
}

.page-title--container {
	display: flex;
	padding: 0.5rem 2vw 3rem 2vw;
}

.page-title--heading {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--page-title-text-color);
	/* font-size: var(--page-title-xlarge); */
	text-align: center;
	font-size: clamp(1.8em, 8vw, 4.5em);
}

.smaller {
	font-size: clamp(1.6em, 5vw, 4em);
}

@media screen and (max-width: 1280px) {
	.page-title {
		padding: 4vh 0px;
	}
}

@media screen and (max-width: 960px) {
	.page-title {
		padding: 4vh 0px;
	}
}

@media screen and (max-width: 480px) {
	.page-title {
		padding: 1vh 0px;
	}
}
