.label {
	display: block;
	font-size: 1.3rem;
	width: 100%;
}

.label_small {
	font-size: 1rem;
}

.subtitle {
	display: block;
	font-size: 1.3rem;
	margin-bottom: 6px;
	color: var(--subheading-gray);
}