.faq {	
	margin: 2rem 10vw;
	padding: 2rem;
	background-color: #fff;
	border-radius: 5px;

}

.faq-title {
	/* display: flex; */
	/* height: auto;
	align-items: center;
	justify-content: center;
	font-size: 3rem; */

  color: #77f;
	/* text-shadow: 2px 2px #000; */
  font-size: 100px;
}

.faq-container {
	/* display: block; */
	/* top: 10vh; */

}



