.schedule-heading {
	display: flex;
	height: 10vh;
	align-items: center;
	justify-content: center;
  color: #000;
  font-size: 100px;
}


.schedule__container p {
	width: 60%;
	margin: 30px 20%;
	font-size: 20px;
}

.schedule__container {
	margin: 2rem 10vw;
	padding: 2rem;
	background-color: #fff;
	/* border-radius: 5px; */
}