:root {
	--schedule--item-height: 380px;
}

.schedule__container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	/* max-width: var(--footer-content--width); */
	/* width: 100%; */
	margin: 2rem 2vw;
	padding: 2rem;
	background-color: #fff;
	height: auto;
	/* border-radius: 5px; */
}

.schedule-item__container {
	margin: 2vh 2vw;
}

.schedule--text__container {
	max-width: 400px;
	height: var(--schedule--item-height);
	padding: 20px;
	font-size: 20px;
	/* margin-bottom: 2rem; */
}

.schedule--text__title {
	text-align: center;
}

.schedule--text {
	margin-top: 2rem;
}
