.container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.wrapper {
	background-color: var(--navbar-gradient--light);
	border: 1px solid black;
	justify-content: center;
	padding: 30px;
	max-width: 600px;
	width: 96vw;
	margin: 0 auto;
}

.input::placeholder {
	color: var(--input-placeholder--light);
}

.input {
	max-width: 50vw;
	padding: 6px 14px;
	border-radius: 4px;
	outline: none;
	border: none;
	font-size: 18px;
	border: 1px solid #fff;
	margin-right: 2px;
}

.input:focus:required:invalid {
	border: 1px solid red;
	background-color: var(--input-required--invalid);
}

.input:focus:required:valid {
	border: 1px solid green;
	background-color: var(--input-required--valid);
}

/* .text {
} */
.email_form {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}


.notification {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	max-height: 0;
	width: 86%;
	transition: all 0.2s ease;
}

.notification.success {
	margin: 24px auto 24px auto;
	padding: 8px;
	border: 1px solid green;
	background-color: rgba(223, 255, 223, 0.1);
	max-height: 100px;
}

.notification.error {
	margin: 24px auto 24px auto;
	padding: 8px;
	border: 1px solid red;
	background-color: rgba(255, 223, 223, 0.1);
	max-height: 100px;
}
