.services-btns-container {
	margin: 2vh auto;
	height: 60px;
}


.indent {
	padding-left: 2em;
}

.prices-grid-title {
	margin: 2rem 0;
}


.prices-grid-container {
	margin: 0 auto;
	grid-template-columns: repeat(6, 1fr);
	border: 1px solid black;
	row-gap: 1.5rem;
	column-gap: 2rem;
	padding: 1.4rem;
	width: min(1000px, 96%);
	background-color: #f5faf5fa;
}

.prices-grid-header {
	margin: -1rem 0;
	grid-column: span 2;
	color: #333;
	text-align: left;
}

.prices-grid-spacer {
	grid-column: 1 / 7;
	border-bottom: 1px solid grey;
}


.prices-grid-item {
	font-size: 1.3rem;
	grid-column: span 2;
}

[class^="prices-two-column"] {
	grid-column: span 3;
	font-size: 1.3rem;
	text-align: center;
}

.prices-extra-margin {
	margin-left: 1rem;
}

.prices-extra-call {
	margin-top: 2rem;
	color: var(--text-dark);
}