.container {
	display: grid;
	grid-row-gap: 4em;
	justify-content: center;
}

.btns_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2vh auto;
	height: 60px;
	gap: 10px;
}
.prices_title {
	margin: 4rem 0 0 0;
}

.prices_subtitle {
	margin: 1rem 0;
	color: var(--logo-red);
}

.prices_extra_margin {
	margin-left: 1rem;
}

.prices_extra_call {
	margin: 1rem 0;
	color: var(--text-dark);
}

.hr_separator_margin {
	margin: 2rem 0.5rem;
}