.notification {
	margin: 0;
	padding: 0;
	font-size: 0;
	border-radius: 5px;
	max-height: 0;
	text-align: center;
	/* width: 100%; */
	transition: all 0.2s ease;
}

.notification.show {
	margin: 12px auto;
	padding: 8px;
	color: var(--text-dark);
	max-height: 100px;
	font-size: 1rem;
}

.notification.error {
	border: 1px solid red;
	/* background-color: rgb(255, 127, 127); */
	background-color: rgba(255, 223, 223, 1);
}

.notification.success {
	border: 1px solid green;
	background-color: rgba(223, 255, 223, 1);
}