---
import WhitePageBackground from "../components/WhitePageBackground/WhitePageBackground";

// export interface Props {
// 	separate: boolean;
// }

// const { separate = false } = Astro.props as Props;
const { separate = false } = Astro.props;
---

<main>
	<slot name="page-header"></slot>

	<WhitePageBackground separate={separate}>
		<slot name="page-body"></slot>
	</WhitePageBackground>

	<slot name="bottom-nav-buttons"></slot>
</main>