---
// export interface Props {
// 	pageTitle: string;
// }

// const { pageTitle } = Astro.props as Props;
---

<main>
	<slot name="page-header">

	</slot>
	<slot name="page-body">

	</slot>
	<slot name="bottom-nav-buttons">

	</slot>
</main>