---

---

<div class="tabbed">
	<slot name="tab-inputs">

	</slot>
	
	<ul class="labels-container">
		<slot name="tab-labels">

		</slot>
	</ul>
	
	<slot name="tab-contents">
		
	</slot>
</div>

<style>
.tabbed {
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	margin: 32px 0;
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}

.labels-container {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

.label > label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px solid #ccc;
	background: #eee;
	color: #666;
	font-size: 12px; 
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;	
	transition: all 0.3s;

	/* box-sizing: border-box; */
}

.label:hover label {
	border-top-color: #333;
	color: #333;
}

.tab-content {
	display: none;
	color: #777;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */

/* Change label based on if it's selected */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .labels-container .label:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .labels-container .label:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .labels-container .label:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .labels-container .label:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .labels-container .label:nth-of-type(5) label,
.tabbed [type="radio"]:nth-of-type(6):checked ~ .labels-container .label:nth-of-type(6) label,
.tabbed [type="radio"]:nth-of-type(7):checked ~ .labels-container .label:nth-of-type(7) label,
.tabbed [type="radio"]:nth-of-type(8):checked ~ .labels-container .label:nth-of-type(8) label,
.tabbed [type="radio"]:nth-of-type(9):checked ~ .labels-container .label:nth-of-type(9) label,
.tabbed [type="radio"]:nth-of-type(10):checked ~ .labels-container .label:nth-of-type(10) label {
	border-bottom-color: #fff;
	/* border-top-color: #B721FF; */
	border-top-color: var(--logo-red);
	/* border-top: 3px solid var(--logo-red); */
	background: #fff;
	color: #222;
}

/* Show content based on selected tab */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tab-content:nth-of-type(6),
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tab-content:nth-of-type(7),
.tabbed [type="radio"]:nth-of-type(8):checked ~ .tab-content:nth-of-type(8),
.tabbed [type="radio"]:nth-of-type(9):checked ~ .tab-content:nth-of-type(9),
.tabbed [type="radio"]:nth-of-type(10):checked ~ .tab-content:nth-of-type(10) {
	display: block;
}

</style>



















<!-- <TabsLayout>
	<Fragment slot="tab-inputs">
		<input type="radio" id="tab1" name="css-tabs" checked>
		<input type="radio" id="tab2" name="css-tabs">
		<input type="radio" id="tab3" name="css-tabs">
		<input type="radio" id="tab4" name="css-tabs">
	</Fragment>

	<Fragment slot="tab-labels">
		<li class="label">
			<label for="tab1">Gangsta lipsum</label>
		</li>
		<li class="label">
			<label for="tab2">Zombie lipsum</label>
		</li>
		<li class="label">
			<label for="tab3">New age bullshit</label>
		</li>
		<li class="label">
			<label for="tab4">Lorem Ipsum</label>
		</li>
	</Fragment>

	<Fragment slot="tab-contents">
		<div class="tab-content">
			<h4>Gangsta lipsum</h4>
			<p>Da bomb ipsizzle dolizzle sit amizzle, consectetuer adipiscing fo shizzle. Nullam yo velizzle, aliquet volutpizzle, fo shizzle yippiyo, for sure vizzle, arcu. Black eget fo shizzle. Sizzle erizzle. Rizzle at dolizzle dapibizzle turpis tempizzle izzle. Maurizzle crackalackin nibh et check out this. Cool check it out tortizzle. Break it down bling bling rhoncizzle my shizz. Fo hizzle rizzle platea boom shackalack. Gangsta dapibus. Owned tellus urna, pretizzle black, mattizzle ac, eleifend for sure, nunc. Owned suscipizzle. Integizzle sempizzle shiz sed purizzle.</p>
		</div>
		
		<div class="tab-content">
			<h4>Zombie lipsum</h4>
			<p>Zombie ipsum brains reversus ab cerebellum viral inferno, brein nam rick mend grimes malum cerveau cerebro. De carne cerebro lumbering animata cervello corpora quaeritis. Summus thalamus brains sit​​, morbo basal ganglia vel maleficia? De braaaiiiins apocalypsi gorger omero prefrontal cortex undead survivor fornix dictum mauris. </p>
		</div>
		
		<div class="tab-content">
			<h4>New age bullshit</h4>
			<p>Our conversations with other pilgrims have led to an awakening of pseudo-astral consciousness. Who are we? Where on the great myth will we be re-energized? We are at a crossroads of complexity and stagnation.</p>
			<p>Eons from now, we dreamers will exist like never before as we are aligned by the cosmos. We are being called to explore the stratosphere itself as an interface between nature and complexity. We must learn how to lead infinite lives in the face of bondage.</p>
			<p>Generated by the <a href="http://sebpearce.com/bullshit/">New Age Bullshit Generator</a></p>
		</div>

		<div class="tab-content">
			<h4>Lorum Ipsum</h4>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet aspernatur cupiditate ipsam unde optio perspiciatis debitis quibusdam nostrum deleniti iste totam expedita dolore rerum ad omnis quos sequi, ab quia aliquid delectus inventore vel repudiandae reprehenderit veritatis? Vel numquam culpa cupiditate sequi laboriosam deserunt animi exercitationem accusamus nulla similique, amet perspiciatis ipsam fugiat optio sit. Amet voluptas cumque accusantium, recusandae id sint eveniet necessitatibus alias numquam cupiditate adipisci perferendis suscipit est deserunt a, autem ad ipsa, consectetur enim. Explicabo doloribus atque voluptate minima voluptatibus magni eum, nemo inventore rem soluta? Exercitationem fugit quo facere perspiciatis delectus laudantium odit saepe ab.</p>
		</div>
	</Fragment>
</TabsLayout> -->