.container {
	max-width: 1200px;
	background-color: white;
	margin: calc(-2em - 0vh) auto 4em auto;
	padding: 4rem 0 8em;
	z-index: 2;
}

.separate {
	margin: 4em auto;
}

@media screen and (max-width: 1250px) {
	.container {
		padding: 2rem 0 4rem;
		margin: 1rem auto 1rem auto;
	}

	.separate {
		margin: 1rem auto 1rem auto;
	}
}
