.container {
	background-color: var(--text-dark);
}

.image {
	max-width: 2000px;
	margin: 0 auto;
	min-height: 10.5rem;
	height: 34vh;
	box-shadow: var(--inset-box-shadow--dark);
}

.title_container {
	display: flex;
	padding: 1rem 2vw 2rem;
}

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	font-size: clamp(1.8em, 8vw, 4.5em);
	font-family: var(--logo-font-family);
	letter-spacing: 0.03em;
}

/* no subtitle used in website? */
.subtitle {
	font-family: var(--logo-font-family);
	letter-spacing: 0.05em;
}

.smaller {
	font-size: clamp(1.6em, 5vw, 4em);
}

/* small screens */
.padding {
	padding: 1vh 0px;
}

/* medium screens */
@media screen and (min-width: 480px) {
	.padding {
		padding: 4vh 0px;
	}
}

/* large screens */
@media screen and (min-width: 960px) {
	.padding {
		padding: 4vh 0px;
	}
}

/* x-large screens */
@media screen and (min-width: 1200px) {
	.padding {
		padding: 0;
	}

	.image {
		box-shadow: 
		/* inset calc(-2vw + 1.5rem) 0 calc(4vw - 2rem) 0
				var(--text-dark), */
			inset 0 0 calc(4vw - 2rem) 0
				var(--text-dark),
				inset 0 0 calc(2vw - 2rem) 0
				var(--text-dark),
			/* inset calc(8vw - 6rem) 0 0 0
			hotpink,
				var(--text-dark), */
				/* inset calc(10vw - 8rem) 0 
				2vw 0 var(--text-dark), */
				/* inset calc(4vw) 0 
				2vw 0 var(--text-dark), */
				var(--inset-box-shadow--dark);
	}
}