.card {
	border-radius: var(--card-border-radius);
}

.card--heading {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 2.2rem;
	margin-bottom: 1rem;
}

.card--heading-margin {
	margin-top: -100px;
}

.card--font-size {
	font-size: var(--card--font-size);
	/* font-size: clamp(1rem, 6vw, 1.2rem); */
}

.card--width {
	width: 92%;
	margin: auto;
}

.card--content-width {
	/* max-width: 90%; */
	max-width: 70ch;
	/* width: min(1000px, 96%); */
	margin: auto;
}


.card--paragraph {
	line-height: 1.6;
}