.form--center {
	width: 96%;
	max-width: 1000px;
	min-width: 400px;
	margin: 0 auto;
	/* padding: 0 10px; */
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 40px;
	justify-content: space-around;
}

.form--instructions {
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 1.2rem;
}

.form--steps {
	width: 80%;
	margin: 0 auto;
}

.accordion--buttons-wrapper {
	display: flex;
	width: 100%;
	flex-direction: row;
	border: 1px solid #ccc;
	background-color: rgba(
		var(--orange-bg--r),
		var(--orange-bg--g),
		var(--orange-bg--b),
		0.7
	);
}

/* Accordion styling */
/* Accordion item contains item-title and item-body, item-body holds children*/
.react-sanfona {
	/* padding: 10px; */
	/* background-color: #fff; */
	border-radius: var(--card-border-radius);
	width: 100%;
	min-width: 311px;
	display: inline-block;
	padding: 2px;
	z-index: 1;
	background-color: rgb(224, 224, 224);
	transition: all 0.5s ease;
}

/* whole item container, expands and shrinks */
.react-sanfona-item {
	padding: 10px;

	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
}

/* section title inside container */
.react-sanfona-item-title {
	background-color: #fff;
	padding: 10px;
	font-size: 30px;
	text-align: left;
	transition: all 0.3s ease-out;
	width: 100%;
	/* width: 400px; */
	/* border: 1px solid grey; */
}

:not(.react-sanfona-item-expanded) > .react-sanfona-item-title::after {
	text-align: right;
	content: "...";
	display: inline;
}
.react-sanfona-item-expanded.react-sanfona-item-title::after {
	text-align: right;
	content: "";
	display: inline;
}

/* when item expanded, section title */
.react-sanfona-item-expanded .react-sanfona-item-title {
	text-decoration: underline;
	font-size: 26px;
	text-align: center;
	/* color: #000; */
	background-color: #f3f3f3;
	transition: all 0.15s ease-out;
}
.react-sanfona-item-expanded {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.15s;
}

/* grabs first item container -> title inside it*/
/* .react-sanfona-item:first-child .react-sanfona-item-title {
  border-left: none;
  border-top: none;
} */

/* wrapper around the content body*/

.react-sanfona-item-body-wrapper {
	color: #000;
	padding: 12px;
	padding-top: 0px;
	position: relative;
	background-color: #fff;
	transition: all 0.3s ease-out;
}

.react-sanfona-item-expanded .react-sanfona-item-body-wrapper {
	background-color: #f3f3f3;
	transition: all 0.3s ease-out;
}
/* END  Accordion styling */

.accordion-close-all-wrapper-hidden {
	/* display: none; */
	overflow: hidden;
	width: 0;
	max-width: 200px;
	transition: all 0.5s ease;
}

.accordion-close-all-wrapper {
	display: flex;
	justify-content: center;
	height: auto;
	min-width: 60px;
	width: 10%;
	cursor: pointer;
	transition: all 0.5s ease;
	/* background-color: rgb(224, 224, 224); */
}

.accordion-close-all-title {
	/* min-width: 60px;
	width: 10%; */
	font-size: 1.2rem;
	text-align: center;
	margin: auto;
	height: auto;
	/* transition: all 2s ease; */
}

.order-form--section {
	margin: 0px auto;
	padding: 16px 4px;
	width: 100%;
	display: grid;
	gap: 1.5em;
}

.order-form--section-subheading {
	width: calc(100% - 14px);
	padding-left: 24px;
	font-size: 20px;
	color: var(--subheading-gray);
	margin: 0 auto 12px auto;
	text-align: center;
}

.order-form--section-subheading-container {
	margin: 0 auto 12px auto;
}

.dot {
	height: 6px;
	width: 6px;
	background-color: var(--subheading-gray);
	border-radius: 50%;
	display: inline-block;
	margin: 3px;
}

.order-form--input,
.order-form--select {
	display: block;
	width: 100%;
	font-size: 1.2em;
	padding: 0.4em;
}

.order-form--select,
.order-form--select-option {
	cursor: pointer;
}

.order-form--label-subtext {
	display: block;
	font-size: 1.3rem;
	/* padding-left: 10px; */
	margin-bottom: 6px;
	color: var(--subheading-gray);
}

.form-special-extra {
	font-size: 1.2rem;
	color: rgb(
		calc(var(--orange-bg--r) - 20),
		calc(var(--orange-bg--g) - 20),
		calc(var(--orange-bg--b) - 0)
	);
}

.order-form--radio-container,
.order-form--checkbox-container {
	border-top: 1px solid gray;
	padding-top: 10px;
	display: grid;
	gap: 10px;
	grid-template-columns: 40px auto;
}

.order-form--title {
	text-decoration: underline;
	font-size: 26px;
	text-align: center;
	/* color: #000; */
	background-color: #f3f3f3;
	transition: all 0.15s ease-out;
	/* margin: 20px 0; */
}

/* .order-form--subtitle {
} */

.order-form--radio-wrapper {
	/* border-top: 1px solid gray; */
	padding-top: 10px;
	margin-left: 2vw;
	display: grid;
	grid-row-gap: 6px;
}

.order-form--radio,
.order-form--checkbox {
	height: 20px;
	cursor: pointer;
}

.order-form--input-container {
	margin: 0 auto;
	padding: 0.5em;
	max-width: 520px;
	width: 50%;

	min-width: 300px;
	/* width: clamp(400, 46vw, 500); */
}

.order-form--input-container-small {
	display: inline-block;
	/* max-width: 520;
	width: 50%;

	min-width: 300px; */
}

.order-form--label {
	display: block;
	font-size: 24px;
	width: 100%;
}

.order-form--label-small {
	font-size: 20px;
}

.order-form--textarea {
	width: 100%;
	height: 200px;
}

.order-form--submit {
	/* margin: 20px; */
	font-size: 20px;
}

.form-required {
	margin-left: 4px;
	color: red;
}

.order-form--heading-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.order-form--field {
	/* max-width: 800px;
	min-width: 200px;
	margin: auto; */
}

.form--validation-error {
	color: red;
}

.beef--split-half-section {
	height: 0;
	color: rgba(0, 0, 0, 0);
	max-height: 0;
	margin-top: 40px;
	padding: 0px 4px;
	transition: all 0.4s ease;
}

.beef--split-half-section--show {
	height: 274px;
	/* height: 300px; */
	max-height: 1000px;
	padding: 16px 4px;
	transition: all 0.4s ease;
}

/* .cut_sheet__section {
	max-width: 1000px;
	width: 90%;
	background-color: aqua;
}

.cut_sheet__section__trigger {
	width: 100%;
	text-align: center;
	background-color: rgb(224, 224, 224);
	font-size: 2rem;
} */

.Collapsible {
	background-color: #f1f1f1;
}

.Collapsible__contentInner {
	padding: 10px;
	border: 1px solid lightGrey;
	border-top: 0;
}

.Collapsible__trigger {
	display: block;
	font-weight: 400;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	position: relative;
	border: 1px solid white;
	padding: 10px;
	background: rgb(
		var(--orange-bg--r),
		var(--orange-bg--g),
		var(--orange-bg--b)
	);
	color: black;
	cursor: pointer;
}

/* .Collapsible__trigger:after {
	font-family: "FontAwesome";
	content: "\f107";
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	transition: transform 300ms;
} */

.Collapsible__trigger:is-open:after {
	transform: rotateZ(180deg);
}

.Collapsible__trigger:is-disabled {
	opacity: 0.5;
	background-color: grey;
}
.order-form {
	/* width: 90vw;
	min-width: 480px; */
	width: clamp(480px, 90vw, 1200px);
}

@media screen and (max-width: 960px) {
	/* .react-sanfona {
		width: 80%;
	} */
	.order-form--input-container-small {
		display: inline-block;
		width: 50%;
	}

	.accordion-wrapper {
		min-width: 476px;
	}

	.react-sanfona-item-title {
		font-size: 28px;
	}

	.order-form--label {
		display: block;
		font-size: 20px;
	}

	.order-form--label-small {
		font-size: 18px;
	}

	.order-form--input,
	.order-form--select {
		display: block;
		width: 100%;
		font-size: 1.2em;
	}
	.order-form--checkbox {
		height: 16px;
	}

	.order-form--textarea {
		width: 100%;
		height: 160px;
		resize: vertical;
	}
}

@media screen and (max-width: 658px) {
	/* .react-sanfona {
		width: 90%;
	} */
	.order-form--input-container-small {
		display: inline-block;
		width: 100%;
	}

	.accordion-wrapper {
		width: 100vw;
		min-width: 80vw;
	}

	.grid--column--gap {
		padding: 0;
	}

	.order-form {
		box-shadow: none;
		margin: 0px;
		/* padding-bottom: 2vh; */
		padding: 2px;
		max-width: 100%;
		min-width: 100%;
		padding-bottom: 2rem;
	}

	.react-sanfona-item-title {
		font-size: 26px;
	}

	.order-form--label {
		display: block;
		font-size: 18px;
	}

	.order-form--label-small {
		font-size: 16px;
	}

	.order-form--input,
	.order-form--select {
		display: block;
		width: 100%;
		font-size: 16px;
	}
	.order-form--checkbox {
		height: 16px;
	}

	.order-form--textarea {
		width: 100%;
		height: 160px;
		resize: vertical;
	}
}
