.container {
	border-top: 1px solid gray;
	padding-top: 0.5rem;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: 2rem auto;
}

.checkbox {
	height: 1rem;
	cursor: pointer;
}

@media (max-width: 960px) {
	.checkbox {
		height: 0.8rem;
	}
}

/* @media (max-width: 658px) {
	.checkbox {
		height: 16px;
	}
} */
