.wrapper {
	background-color: rgb(100, 100, 100);
	border: 1px solid black;
	padding: 1.5rem 1rem;
	max-width: 30rem;
	width: calc(100vw - 3rem);
	margin: 0 auto;
	gap: 2px;
}

.input {
	padding: 0.3rem 0.7rem;
	border-radius: 4px;
	outline: none;
	border: none;
	font-size: 0.9rem;
	border: 1px solid #fff;
	max-width: 100%;
	
	flex: 1;
	flex-basis: 55%;
}
.subscribe_btn {
	flex: 1;
	flex-basis: 35%;
}
.notification {
	width: 100%;
}


.card {
	border-radius: 4px;
}

/* .input::placeholder {
	color: var(--input-placeholder--light);
} */


.input:focus:required:invalid {
	border: 1px solid red;
	background-color: var(--input-required--invalid);
}

.input:focus:required:valid {
	border: 1px solid green;
	background-color: var(--input-required--valid);
}


.notification {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: var(--text-dark);
	text-align: center;
	border-radius: 5px;
	max-height: 0;
	transition: all 0.2s ease;
}

.notification.show {
	margin: 1.2rem auto;
	padding: 0.4rem;
	max-height: 10rem;
}

.notification.success {
	border: 1px solid green;
	background-color: rgba(223, 255, 223, 1);
}

.notification.error {
	border: 1px solid red;
	background-color: rgba(255, 223, 223, 1);
}
