.newsletter--container--content-wrapper {
	width: 600px;
	max-width: 96vw;
	display: grid;
	justify-content: center;
	grid-gap: 20px;
	margin: 4rem auto;
}

.newsletter--blerb {
	/* font-size: 1rem; */
	margin: 0 auto;
	padding: 40px;
	font-size: var(--card--font-size);
}

.newsletter--blerb-container {
	margin-bottom: 4rem;
}

.newsletter--blerb-heading--container {
	border-bottom: 1px solid grey;
	margin-bottom: 2rem;
}

.newsletter--blerb-heading {
	display: flex;
	flex-direction: column;
	
	font-size: 1.5rem;
	text-align: center;
	width: auto;

}
.newsletter--blerb-heading-1 {
	margin-right: .5rem;
}

.newsletter--blerb-heading-2 {
	margin-left: 1.5rem;
}



@media screen and (max-width: 960px) {
	.newsletter--container {
		width: auto;
		padding: 2rem 0;
		margin-top: 1rem;
	}
	.newsletter--container--content-wrapper {
		margin: 2rem auto;
	}
}

@media screen and (max-width: 480px) {
}
