.white-link {
	/* color: #fff; */
	color: var(--footer-background-color);
	text-decoration: none;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

.white-link:hover {
	/* color: rgba(var(--footer-background-color), 0.8); */
	transform: scale(1.05);
	/* font-size: 1.1em; */
}

.white-link.underline {
	cursor: pointer;
	display: inline;
	text-decoration: underline;
	/* color: #fff; */
	/* color: var(--footer-background-color); */
}
