.white-link {
	/* color: #fff; */
	color: var(--footer-background-color);
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3 ease-out;
}

.white-link.margin {
	 margin-bottom: 8px;
	}

.white-link:hover {
	/* color: rgba(var(--footer-background-color), 0.8); */
	transform: scale(1.1);
}

.white-link.underline {
	cursor: pointer;
	display: inline;
	text-decoration: underline;
	/* color: #fff; */
	/* color: var(--footer-background-color); */
}
