.white-link {
	/* color: #fff; */
	color: var(--footer-background-color);
	text-decoration: none;
	cursor: pointer;
}
.white-link.margin {
	 margin-bottom: 8px;
	}

.white-link:hover {
	color: rgba(var(--sky-blue), 0.9);
	transition: 0.3 ease-out;
}

.white-link--underline {
	cursor: pointer;
	display: inline;
	text-decoration: underline;
	/* color: #fff; */
	color: var(--footer-background-color);
}
