.contact__form {
	margin: auto;
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 4px;
	/* flex-wrap: wrap;  */
	/* align-items: center; */
	/* justify-content: center; */
}

.double-container {
	display: flex;
	padding: 2px;
}

.input__container {
	padding: 2px;
}

.input__small {
	width: 50%;
}

.input__large {
	width: 100%;
}

.contact__label {
	font-size: 0.9rem;
	padding-left: 1rem;
	text-align: left;
	/* color: #fff; */
	color: var(--footer-background-color);
}

.contact__input {
	border: 1px solid #fff;
	display: block;
	width: 100%;
	font-size: 1rem;
	margin-top: 4px;
	padding: 5px;
}
.input__grow {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.contact__textarea {
	resize: none;
	flex-grow: 1
}

.input__topic {
	/* color: #757575; */
}

.topic__label {
	display: flex;
	align-items: center;
}

.contact__form__submit {
	margin-top: 5px;
	width: 100%;
	
}


/* Focus validation highlighting */
.contact__input:focus:required:invalid {
	border: 1px solid red;
	background-color: var(--input-required--invalid);
	outline: none;
}

.contact__input:focus:required:valid {
	border: 1px solid green;
	background-color: var(--input-required--valid);
	outline: none;
}



/* Notification styles */

.contact__form__notification {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	color: var(--footer-background-color);
	border-radius: 5px;
	max-height: 0;
	text-align: center;
	width: 100%;
	transition: all 0.2s ease;
}

.contact__form__notification.show {
	margin: 12px auto;
	padding: 8px;
	max-height: 100px;
}

.contact__form__notification.error {
	background-color: rgba(255, 223, 223, 1);
	border: 1px solid red;
}

.contact__form__notification.success {
	background-color: rgba(223, 255, 223, 1);
	border: 1px solid green;
}