.contact {
	margin-top: auto;
	justify-content: center;
	max-width: 400px;
	/* height: 100%; */
	height: 300px;
	padding-bottom: 10px;
}

.contact__form {
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* background-color: rgba(255, 255, 255, 0.1); */
}

.input__container {
	display: inline-block;
	padding: 2px;
}

.input__small {
	width: 50%;
}

.input__large {
	width: 100%;
}

.contact__input {
	border: 1px solid #fff;
	display: block;
	width: 100%;
	font-size: 20px;
	margin-top: 4px;
	padding: 5px;
}

.contact__textarea {
	height: 120px;
	resize: vertical;
}

.contact__label {
	font-size: 18px;
	padding-left: 20px;
	color: #fff;
}

.contact__form__submit {
	margin-top: 5px;
	width: 100%;
}

.contact__input:focus:required:invalid {
	border: 1px solid red;
	background-color: var(--input-required--invalid);
	outline: none;
}

.contact__input:focus:required:valid {
	border: 1px solid green;
	background-color: var(--input-required--valid);
	outline: none;
}

.contact__form__notification {
	margin: 0;
	padding: 0;
	font-size: 20px;
	color: #fff;
	border-radius: 5px;
	max-height: 0;
	text-align: center;
	width: 100%;
	transition: all 0.2s ease;
	/* border: 1px solid red;
	background: rgb(255, 223, 223); */
	/* height: 30px; */
}
.contact__form__notification.error {
	margin: 12px auto;
	padding: 8px;
	border: 1px solid red;
	background-color: rgba(255, 223, 223, 0.1);
	max-height: 100px;
}
.contact__form__notification.success {
	margin: 12px auto;
	padding: 8px;
	border: 1px solid green;
	background-color: rgba(223, 255, 223, 0.1);
	max-height: 100px;
}

/* .contact__input:focus:required:invalid {
	border: 2px solid red;
} */

/* .contact__form__submit {
	width: 60%;
	margin: 0px auto;
	border: 1px solid #888;
	background-color: lightblue;
	font-size: 20px;
} */

@media screen and (max-width: 960px) {
	.input__container {
		width: 100%;
	}

	.contact__title {
		font-size: 40px;
	}

	.contact__input,
	.contact__label {
		font-size: 18px;
	}
}
