:root {
	--primary: #fff;
	--secondary: #242424;
}

.btn {
	padding: 8px 20px;
	border-radius: 4px;
	outline: none;
	border: 1px solid transparent;
	cursor: pointer;
	width: 220px;
}

.btn--wide {
	width: max-content;
}

.btn--primary {
	background-color: var(--primary);
	color: #242424;
	border: 1px solid var(--primary);
}

.btn--primary--dark {
	background-color: var(--primary);
	color: var(--secondary);
	border: 1px solid var(--secondary);
}

.btn--outline {
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 8px 20px;
	border: 1px solid var(--primary);
	transition: var(--transition);
}

.btn--outline--secondary {
	background-color: transparent;
	color: var(--sencondary);
	padding: 8px 20px;
	border: 1px solid var(--secondary);
	transition: var(--transition);
}

.btn--medium {
	padding: 8px 20px;
	font-size: 20px;
}

.btn--large {
	padding: 12px 26px;
	font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
	background: #fff;
	color: #242424;
	transition: var(--transition);
	border: 1px solid #242424;
}

.btn--pending {
	background-color: rgb(255, 207, 48);
	color: #242424;
}
.btn--complete {
	background-color: rgb(48, 192, 32);
	color: #242424;
}
.btn--error {
	background-color: rgb(196, 96, 72);
	color: #242424;
}

.btn--pending:hover {
	background-color: rgb(255, 255, 207);
	color: #242424;
	transition: var(--transition);
}
.btn--complete:hover {
	background-color: rgb(192, 255, 192);
	color: #242424;
	transition: var(--transition);
}
.btn--error:hover {
	background-color: rgb(255, 192, 192);
	color: #242424;
	transition: var(--transition);
}

@media screen and (max-width: 820px) {
	/* .btn {
		width: 100%;
	} */
}
