.header {
	width: 100vw;
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 20px;
	background-color: rgb(
		var(--orange-bg--r),
		var(--orange-bg--g),
		var(--orange-bg--b)
	);
	padding: 5px;
	position: fixed;
	z-index: 999;
	font-size: var(--font--normal);
	align-items: center;
}

.header-link,
.header-link-special {
	display: flex;
	gap: 10px;
	align-content: center;
	text-decoration: none;
	color: #000;
	transition: var(--transition);
}

.clock-icon {
	transition: var(--transition);
}

.header-link-special.hover {
	color: #fff;
	transition: var(--transition);
}

.header-icon {
	width: var(--icon--normal);
	display: inline-block;
	padding-top: 2px;
}

.header-link:first-child {
	padding-top: 6px;
}

.header-link:hover {
	color: #fff;
}

/* medium screens */
@media screen and (max-width: 960px) {
	.header {
		font-size: var(--font--medium);
	}

	.header-icon {
		width: var(--icon--medium);
		padding-top: 0px;
	}
}

/* small screens */
@media screen and (max-width: 480px) {
	.header {
		font-size: var(--font--small);
	}

	.header-icon {
		width: var(--icon--small);
	}

	.header-hours {
		margin-left: -6px;
	}
}
