.header {
	background-color: rgb(
			var(--harvest-gold--r),
		var(--harvest-gold--g),
		var(--harvest-gold--b)
	);
	display: flex;
	width: 100vw;
	height: 40px;
	position: fixed;
	z-index: 999;
}

.header-container {
	margin: 0 auto;
	padding: 0 20px;
	width: calc(100vw - 40px);
	max-width: 1500px;
	height: 100%;
	font-size: clamp(14px, 2.8vw, 20px);

	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.header-link {
	text-decoration: none;
	color: #000;
	transition: var(--transition);
	font-size: 1rem;
	height: 100%;

	display: grid;
	/* two columns to handle clock + hours */
	grid-template-columns: auto auto;
	gap: 10px;
	align-items: center;
}

.clock-icon {
	width: 1.1rem;
	fill: black;
	transition: var(--transition);
}

.header-link:hover {
	color: #fff;
}


.header-link.special:hover > .clock-icon {
	fill: white;
}