.main {
	background-color: rgb(
			var(--harvest-gold--r),
		var(--harvest-gold--g),
		var(--harvest-gold--b)
	);
	display: flex;
	justify-content: center;
	width: 100vw;
	height: var(--header-height);
	position: fixed;
	z-index: 999;
}

.container {
	/* margin: 0 auto; */
	padding: 0 20px;
	width: calc(100vw - 2vw);
	max-width: 1500px;
	font-size: clamp(0.6rem, 2.2vw, 1rem);

	display: flex;
	justify-content: space-between;
	/* display: grid; */
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.link {
	text-decoration: none;
	color: #000;
	transition: var(--transition);
	height: 30px;
	font-weight: 400;

	display: flex;
	/* grid-template-columns: 1.3rem auto; */
	/* grid-template-columns: auto auto; */
	gap: 10px;
	align-items: center;
	margin-top: 5px;
}

.icon {
	width: 1.3rem;
	padding: 2px;
	fill: black;
	stroke: black;
	transition: var(--transition);
	margin-right: -0.2rem;
}

.link:hover {
	color: #fff;
}

.link:hover > * {
	fill: white;
	stroke: white;
}


@media (max-width: 482px) {
	.link {
		flex-direction: column;
		overflow: hidden;
	}
	.text {
		display: none;
		max-width: 0;
	}
}