.main {
	/* background-color: rgb(
			var(--harvest-gold--r),
		var(--harvest-gold--g),
		var(--harvest-gold--b)
	); */
	background-color: var(--logo-red);
	display: flex;
	justify-content: center;
	width: 100vw;
	height: var(--header-height);
	position: fixed;
	z-index: 999;
}

.container {
	padding: 0 20px;
	width: calc(100vw - 2vw);
	max-width: 1500px;
	font-size: clamp(0.6rem, 2.2vw, 1rem);

	grid-template-columns: repeat(4, 1fr);
}

.link {
	text-decoration: none;
	color: #fff;
	transition: var(--transition);
	height: 100%;
	font-weight: 400;
	/* margin-top: 5px; */
}

.icon {
	width: 1.3rem;
	padding: 2px;
	fill: #fff;
	stroke: #fff;
	transition: var(--transition);
	margin-right: -0.2rem;
}

.link:hover {
	/* color: #ccc; */
	border-bottom: 3px solid white;
}

.link:hover > * {
	/* fill: #ccc;
	stroke: #ccc; */
}


@media (max-width: 482px) {
	.link {
		flex-direction: column;
		overflow: hidden;
	}
	.text {
		display: none;
		max-width: 0;
	}
}