.orderform_container {
	margin: 0 auto;
	padding: 0.5em;
	/* max-width: 520px; */
	/* max-width: 50%; */

	min-width: 200px;
	flex: 50%;
}

.orderform_container_small {
	display: inline-block;
}

.orderform_field {
	display: flex;
	flex-wrap: wrap;
	flex: 30%;
}

.orderform_animals_basic_field {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}