.navbar {
	/* background: linear-gradient(
		90deg,
		var(--navbar-gradient--light) 80%,
		var(--navbar-gradient--dark) 120%
	); */
	/* background-color: var(--navbar-gradient--light); */
	background-color: #ccc;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	position: -webkit-sticky;
	position: sticky;
	top: 40px;
	z-index: 998;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--navbar-height);
	width: calc(100vw - 20px);
	max-width: 1500px;
	padding: 0 10px;
}

.navbar-container .btn {
	min-width: 90px;
	width: auto;
}

.newsletter-btn {
	text-decoration: none;
}

.navbar-home {
	justify-self: start;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.7rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	margin-top: 0px;
}

.fa-typo3 {
	margin-left: 0.5rem;
	font-size: 1.8rem;
}

.nav-menu {
	/* Does NOT include Logo or Newsletter-btn */
	right: 0;
	display: grid;
	grid-template-columns: repeat(7, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: right;
	width: calc(100vw - (9rem + 11rem));
}

.nav-item {
	height: 80px;
	right: 0;
	
}
.nav-checkbox {
	margin-left: 0.5rem;
}

.nav-links {
	/* color: white; */
	color: var(--footer-background-color);
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem 0rem;
	height: 100%;
	min-width: 60px;
	justify-content: center;
}

.nav-links:focus,
.navbar-home:focus {
	outline: none;
}

.nav-links:hover,
.navbar-home:hover,
.nav-links:focus,
.navbar-home:focus {
	/* border-bottom: 4px solid #fff; */
	border-bottom: 4px solid var(--footer-background-color);
	
	background: rgba(255, 255, 255, 0.9);
	transition: all 0.15s ease-out;
}


.fa-bars {
	color: #fff;
}

/* .nav-links-mobile {
	display: none;
} */
.nav-links.mobile {
	display: none;
}

.menu-icon {
	/* hamburger icon */
	display: none;
	/* font-size: 24px; */
}

.nav-logo {
	height: 90px;
	width: 180px;

	padding: 2px 0 4px 0;
}

.nav-logo-2 {
	height: 100%;
	width: 240px;

	padding: 0px 10px 4px 10px;
}

@media screen and (max-width: 960px) {
	.nav-menu {
		right: 0;
		display: flex;
		flex-direction: column;
		max-width: 30rem;
		position: absolute;
		top: -700px;
		opacity: 1;
		transition: all 0.5s ease;
		width: auto;
	}

	.nav-menu.active {
		background: rgba(231, 231, 231, 0.9);
		top: var(--navbar-height);
		transition: all 0.5s ease;
		z-index: -10;
	}

	.nav-links {
		text-align: center;
		padding: 0 2rem;
		width: 100%;
	}

	.nav-links:hover {
		/* background-color: var(--header-orange); */
		background: rgba(255, 255, 255, 0.9);
		/* color: #242424; */
		border-radius: 0;
	}

	.menu-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 0.8rem;
		cursor: pointer;
		width: 35px;
	}

	.fa-bars {
		margin: auto;
		font-size: 2rem;
	}

	.fa-times {
		margin: auto;
		margin-top: -8px;
		color: #fff;
		font-size: 2.6rem;
	}

	.nav-links.mobile {
		display: flex;
	}

	/* .nav-links-mobile {
		display: block;
		text-align: center;
		margin: 0 auto;
		border-radius: 4px;
		width: 80%;
		text-decoration: none;
		background-color: transparent;
		color: #fff;
		padding: 14px 20px;
		border: 1px solid #fff;
		transition: all 0.3s ease-out;
	} */

	.nav-links-mobile:hover {
		background: #fff;
		color: #242424;
		transition: 250ms;
	}
}

@media screen and (max-width: 480px) {
	.nav-logo {
		height: 80px;
		width: 160px;
		padding: 2px;
	}

	.nav-logo-2 {
		/* height: 90px; */
		width: 200px;
	
		padding: 2px 6px;
	}

	.navbar-home {
		margin-left: 0;
	}

	.nav-links {
		font-size: 1rem;
	}

	.nav-menu {
		grid-gap: 0px;
	}

	.nav-links-mobile {
		margin: 0 auto;
		font-size: 1rem;
	}
}
