.navbar {
	background-color: #ccc;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(0.9rem, 1.6vw, 1.2rem);
	position: -webkit-sticky;
	position: sticky;
	top: 40px;
	z-index: 998;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--navbar-height);
	width: calc(100vw - 20px);
	max-width: 1500px;
	padding: 0 10px;
}

.navbar-container .btn {
	min-width: 90px;
	width: auto;
}

.newsletter-btn {
	text-decoration: none;
}

.navbar-home {
	justify-self: start;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	margin-top: 0;
	margin-left: 0;
}

/* Does NOT include Logo or Newsletter-btn */
.nav-menu {
	right: 0;
	top: 0;
	position: relative;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(7, auto);
	width: calc(100vw - (9rem + 11rem));
	max-width: calc(100vw - (9rem + 11rem));
	opacity: 1;
	transition: none;
}

.nav-item {
	height: 80px;
	right: 0;
}

.nav-links {
	color: var(--footer-background-color);
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem 0rem;
	height: 100%;
	min-width: 60px;
	width: 100%;
	justify-content: center;
	font-family: var(--header-font);
}

.nav-links:focus,
.navbar-home:focus {
	outline: none;
	border-bottom: 4px solid var(--footer-background-color);
}


.nav-links:hover,
.navbar-home:hover {
	background: rgba(255, 255, 255, 1);
	border-bottom: 4px solid var(--footer-background-color);
	transition: all 0.15s ease-out;
}

.navbar-home:hover > svg > g > path.svg-background {
	fill: rgba(255, 255, 255, 1);
	transition: all 0.15s ease-out;
}


.fa-bars {
	color: var(--footer-background-color);
	margin: auto;
	font-size: 2rem;
}

.fa-times {
	margin: auto;
	margin-top: -8px;
	color: var(--footer-background-color);
	font-size: 2.6rem;
}


.nav-links.mobile {
	display: none;
}

/* hamburger icon */
.menu-toggle-button {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(-100%, 60%);
	font-size: 0.8rem;
	cursor: pointer;
	width: 35px;
}

.nav-logo {
	width: 240px;
	padding: 0px 10px 4px 10px;
}

@media screen and (max-width: 960px) {
	.nav-menu {
		right: 0;
		top: -700px;
		position: absolute;
		list-style: none;
		display: flex;
		flex-direction: column;
		width: auto;
		max-width: 30rem;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.nav-menu.active {
		background: rgba(231, 231, 231, 0.9);
		top: var(--navbar-height);
		transition: all 0.5s ease;
		z-index: -10;
	}

	.nav-links {
		color: var(--footer-background-color);
		display: flex;
		align-items: center;
		text-decoration: none;
		padding: 0 2rem;
		height: 100%;
		min-width: 60px;
		width: 100%;
		justify-content: center;
		font-family: var(--header-font);
	}

	.nav-links:hover {
		background: rgba(255, 255, 255, 0.9);
		border-bottom: 4px solid var(--footer-background-color);
		transition: all 0.15s ease-out;
	}

	.menu-toggle-button {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 0.8rem;
		cursor: pointer;
		width: 35px;
	}

	.fa-bars {
		color: var(--footer-background-color);
		margin: auto;
		font-size: 2rem;
	}

	.nav-links.mobile {
		display: flex;
	}
}

@media screen and (max-width: 480px) {
	.nav-logo {
		width: 200px;
		padding: 2px 6px;
	}

	.nav-links {
		font-size: 1rem;
	}
}
