.contact {
	margin-top: 2vh;
	margin-bottom: 4vh;
	background-color: #111;
	padding: 10px 0;
	width: auto;
	justify-content: center;
	/* border: 1px solid black; */
	/* border-radius: 4px; */

	width: 90vw;
	max-width: 400px;
	
}

.contact__title {
	font-size: 60px;
}

.contact__form {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.input__container {
	/* border: 1px solid #fff; */
	display: inline-block;
}

.input__small {
	width: 50%;
}

.input__large {
	width: 100%;
	margin-top: 5px;

}


.contact__input {
	display: block;
	width: 100%;
	font-size: 20px;
}

.contact__textbox {
	height: 100px;
	resize: vertical;
}


.contact__label {
	font-size: 20px;
	padding-left: 20px;
	color: #fff;
}

.contact__form__submit {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	border: 1px solid #888;
	background-color: lightblue;
	font-size: 20px;
}

@media screen and (max-width: 960px) {
	.contact {
		width: 80vw;
	}

	.input__container {
		width: 100%;
	}

	.contact__title {
		font-size: 40px;
	}

	.contact__input, 
	.contact__label {
		font-size: 18px;
	}
}