.contact__container {
	margin: 30px auto;
	background-color: #eee;
	padding: 10px 0;
	width: 800px;
	justify-content: center;
	border: 1px solid black;
	border-radius: 4px;
}

.contact__form {
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.input__container {
	border: 1px solid #fff;
	display: inline-block;
	min-width: 300px;
}

.contact__textbox {
	border: 1px solid #fff;
	display: inline-block;
	min-width: 500px;
	margin-top: 5px;
}

.contact__name__input,
.contact__email__input,
.contact__textbox__input {
	display: block;
	width: 100%;
}

.contact__name__label,
.contact__email__label {
	
}

.contact__form__submit {
	min-width: 500px;
}