.navbar {
	background: linear-gradient(
		270deg,
		rgb(50, 50, 50) 0%,
		rgb(100, 100, 100) 100%
	);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: sticky;
	top: 40px;
	z-index: 998;
}

.navbar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-width: 1500px;
}

.navbar-container .btn {
	/* width: auto; */
	min-width: 90px;
	width: auto;
	margin-right: 20px;
}

.newsletter-btn {
	/* margin-left: 20px; */
	/* display: inline-block; */
}

.navbar-home {
	color: #fff;
	justify-self: start;
	margin-left: 40px;
	cursor: pointer;
	text-decoration: none;
	font-size: 1.7rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	margin-top: 0px;
}

.navbar-home-text {
	width: 300px;
	padding-left: 10px;

	/* text-align: center; */
}

.fa-typo3 {
	margin-left: 0.5rem;
	font-size: 1.8rem;
}

.nav-menu {
	/* Does NOT include Logo and Icon */
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-gap: 10px;
	list-style: none;
	text-align: center;
	width: 50vw;
	margin-right: 2rem;
}

.nav-item {
	height: 80px;
}

.nav-links {
	color: #fff;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.5rem 0rem;
	height: 100%;
	justify-content: center;
}

.nav-links:hover,
.navbar-home:hover {
	border-bottom: 4px solid #fff;
	transition: all 0.15s ease-out;
}

.fa-bars {
	color: #fff;
}

.nav-links-mobile {
	display: none;
}

.menu-icon {
	/* hamburger icon */
	display: none;
}

.nav-logo {
	height: 90px;
	width: 180px;

	padding: 2px;
}

@media screen and (min-width: 1600px) {
	.navbar-home-text {
		width: 400px;
	}
}

@media screen and (max-width: 960px) {
	/* for medium and small screens! */
	/* .nav-item {
    position: relative;
  } */
	/* .navbar-home > i {
		margin-left: 20px;
	} */

	.nav-menu {
		display: flex;
		flex-direction: column;
		width: 100%;
		/* height: calc(100vh - 80px); */
		/* height: auto; */
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;
		padding-bottom: 10rem;
	}

	.nav-menu.active {
		background: #242222;

		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
	}

	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
	}

	.nav-links:hover {
		background-color: #fff;
		color: #242424;
		border-radius: 0;
	}

	.navbar-container {
		width: 100%;
	}

	.navbar-home {
		position: absolute;
		top: 0px;
		left: 0;
		width: auto;
		margin-left: 2vw;
	}

	.nav-logo {
		/* transform: translateX(0%); */

		height: 90px;
		width: 160px;

		padding: 10px;
	}

	.navbar-home-text {
		width: 240px;
		/* padding-left: -6px; */
		transform: translateX(-2%);
	}

	.menu-icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-100%, 60%);
		font-size: 1.8rem;
		cursor: pointer;
	}

	.fa-times {
		color: #fff;
		font-size: 2rem;
	}

	.nav-links-mobile {
		display: block;
		text-align: center;
		margin: 2rem auto;
		border-radius: 4px;
		width: 80%;
		text-decoration: none;
		font-size: 1.5rem;
		background-color: transparent;
		color: #fff;
		padding: 14px 20px;
		border: 1px solid #fff;
		transition: all 0.3s ease-out;
	}

	.nav-links-mobile:hover {
		background: #fff;
		color: #242424;
		transition: 250ms;
	}
}

@media screen and (max-width: 480px) {
	.navbar-home {
		width: 200px;
	}

	.nav-logo {
		transform: translateX(-20px);

		height: 90px;
		width: 160px;

		padding: 10px;
	}

	.navbar-home-text {
		display: none;
	}

	.nav-links {
		text-align: center;
		padding: 2rem;
		width: 100%;
		display: table;
		font-size: 1rem;
	}

	.nav-menu {
		grid-gap: 0px;
	}

	.nav-links-mobile {
		margin: 0 auto;
		font-size: 1rem;
	}
}
