.page-title {
	display: flex;
	/* background-color: var(--page-title-bg-color);	 */
	/* background: url('../../public/images/smithFarmPhotos/image-1-113.jpg') center center/cover no-repeat; */
	
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);

	justify-content: center;
	padding: 10vh 0px;
}

.page-title--container {
	display: flex;
	/* border: 1px solid gray; */
	padding: 0.5rem 2vw;
	/* border-radius: 10px; */
	/* background-color: var(--page-title-container-color); */
	
}

.page-title--heading {
		display: flex;

		align-items: center;
		justify-content: center;
	
		color: var(--page-title-text-color);
		font-size: var(--page-title-xlarge);
		text-shadow: -3px 3px black;
		/* margin-top: 2rem;
		margin-bottom: 2rem; */
	
}
.smaller {
	font-size: var(--page-title-large);
}

@media screen and (max-width: 1280px) {
	.page-title {
		padding: 4vh 0px;
	}
	.page-title--heading {
		font-size: var(--page-title-large);
	}
	.smaller {
		font-size: var(--page-title-medium);
	}
}


@media screen and (max-width: 960px) {
	.page-title {
		padding: 4vh 0px;
	}
	.page-title--heading {
		font-size: var(--page-title-medium);
	}
	.smaller {
		font-size: var(--page-title-small);
	}
}

@media screen and (max-width: 480px) {
	.page-title {
		padding: 1vh 0px;
	}
	.page-title--heading {
		font-size: var(--page-title-small);
	}
	.smaller {
		font-size: var(--page-title-xsmall);
	}
}