/* Link styles */
/* LinkScrollUp, Footer */
.main_link {
	color: var(--text-dark);
	text-decoration: none;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

.main_link:hover {
	transform: scale(1.05);
}


/* Footer */
.underline {
	cursor: pointer;
	display: inline;
	text-decoration: underline;
}