.container {
	border-top: 1px solid gray;
	padding-top: 10px;
	grid-template-columns: 40px auto;
}

.wrapper {
	padding-top: 10px;
	margin-left: 2vw;
	grid-row-gap: 6px;
}

.radio {
	height: 20px;
	cursor: pointer;
}
