.newsletter--container--content-wrapper {
	width: 600px;
	max-width: 96vw;
	display: grid;
	justify-content: center;
	grid-gap: 20px;
	margin: 4rem auto;
}

.newsletter--blerb {
	font-size: 20px;
	margin: 0 auto;
	padding: 40px;
}

.newsletter--blerb em {
	font-size: 1.5rem;
}





@media screen and (max-width: 960px) {
	.newsletter--container {
		/* max-width: 800px; */
		width: auto;
		padding: 2rem 0;
		margin-top: 1rem;
	}
	.newsletter--container--content-wrapper {
		margin: 2rem auto;
	}
}

@media screen and (max-width: 480px) {
}
