.label {
	display: block;
	font-size: 1.3rem;
	width: 100%;
}

.label_small {
	font-size: 1rem;
}

.subtitle {
	display: block;
	font-size: 1.3rem;
	margin-bottom: 6px;
	color: var(--subheading-gray);
}

.required {
	margin-left: 4px;
	color: red;
}

.special_extra {
	font-size: 1.2rem;
	color: var(--form_special_extra);
}



@media (max-width: 658px) {
	.label,
	.subtitle {
		font-size: 1rem;
	}
	.label_small {
		font-size: 0.9rem;
	}
}