/* Colors */
/* mountains */
.cls_1 {
	fill: #544c4c;
}

/* white bg of logo; Northport, Wa */
.cls_2 {
	fill: #fff;
}

/* trees color */
.cls_7 {
	fill: #0d0d0c;
}

/* border of ellipse */
.cls_12 {
	fill: #131211;
}

/* website url */
.cls_4,
/* phone number */
.cls_5,
/* The Butcher Shoppe */
.cls_6 {
	fill: #a13d33;
}


/* Font stuff */
/* MOBILE FARM SLAUGHTER */
.cls_3,
/* website url */
.cls_4,
/* phone number */
.cls_5 {
	font-family: var(--logo-font-family);
}

/* MOBILE FARM SLAUGHTER */
.cls_3 {
	font-size: 43.66px;
	font-weight: var(--logo-font-weight);
}

/* website url */
.cls_4 {
	font-size: 25.81px;
}

/* phone number */
.cls_5 {
	font-size: 36.63px;
}


/* Letter spacing */
/* website url spacing */
.cls_8 {
	letter-spacing: 0;
}

/* website url spacing */
/* MOBILE FARM SL(A)UGHTER */
.cls_9 {
	letter-spacing: -.02em;
}

/* website url spacing */
.cls_10 {
	letter-spacing: .01em;
}

/* MOBILE (F)ARM SLAUGHTER */
.cls_13 {
	letter-spacing: -.03em;
}

/* website url spacing */
.cls_14 {
	letter-spacing: .02em;
}