.container {
	background-color: #f1f1f1;
}

.header {
	display: block;
	font-size: 1.6rem;
	text-decoration: none;
	position: relative;
	border: 1px solid white;
	padding: 10px;
	background: var(--calendar-red);
	cursor: pointer;
}

.content_outer {
	height: auto;
	transition: none 0s ease 0s;
	overflow: hidden;
}

.content_inner {
	padding: 10px;
	border: 1px solid lightGrey;
	border-top: 0;
	padding: min(4vw, 2rem);
}
