.container {
	border-top: 1px solid gray;
	padding-top: 10px;
	grid-template-columns: 40px auto;
}

.checkbox {
	height: 20px;
	cursor: pointer;
}

@media (max-width: 960px) {
	.checkbox {
		height: 16px;
	}
}

/* @media (max-width: 658px) {

} */
