:root {
	--header-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;

	--footer-background-color: #242424;
	--subheading-gray: #444;
	--input-placeholder--light: #aaa;
	--white-page-background: #fff;
	--offwhite: rgb(236, 229, 229);

	--footer-content--width: 1000px;
	--schedule--item-height: 380px;
	--card-border-radius: 4px;
	--min-page-width: 375px;

	--input-required--valid: rgb(231, 255, 231);
	--input-required--invalid: rgb(255, 231, 231);

	--navbar-gradient--dark: rgb(50, 50, 50);
	--navbar-gradient--light: rgb(100, 100, 100);

	--transition: all 0.1s ease-out;

	--sky-blue: 193, 248, 255;
	--sky-blue-bg: rgba(var(--sky-blue), 0.5);

	/* header orange */
	--orange-bg--r: 223;
	--orange-bg--g: 120;
	--orange-bg--b: 36;
	--harvest-gold--r: 216;
	--harvest-gold--g: 151;
	--harvest-gold--b: 60;

	--page-title-xlarge: 90px;
	/* --page-title-large: 72px; */
	--page-title-large: 2em;
	/* --page-title-medium: 64px; */
	--page-title-medium: 1.8px;
	--page-title-small: 50px;
	--page-title-xsmall: 25px;

	--page-title-bg-color: #eee;
	--page-title-container-color: var(--sky-blue-bg);
	--page-title-text-color: #fff;

	--font--xlarge: 36px;
	--font--large: 26px;
	--font--normal: 20px;
	--font--medium: 16px;
	--font--small: 14px;

	--card--font-size: min(6vw, 1.2rem);

	--icon--normal: 22px;
	--icon--medium: 20px;
	--icon--small: 18px;

	--homepage-title--height: clamp(20vw, 30rem, 60vw);
	--inset-box-shadow--dark: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);

	--navbar-height: 4rem;
	--header-height: 2rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
}

html {
	--header-orange: rgb(var(--harvest-gold--r), var(--harvest-gold--g), var(--harvest-gold--b))
	;
	font-size: 20px;
	scroll-padding-top: 4rem;
}

p {
	line-height: 2rem;
	font-size: var(--card--font-size);
}

.line-height {
	line-height: 2rem;
}

/* flex selectors: */

[class*="flex"] {
	display: flex;
}

[class*="flex-"][class*="col"] {
	flex-direction: column;
}
[class*="flex-"][class*="row"] {
	flex-direction: row;
}
[class*="flex-"][class*="wrap"] {
	flex-wrap: wrap;
}

[class*="flex-"][class*="jcenter"] {
	justify-content: center;
}
[class*="flex-"][class*="jevenly"] {
	justify-content: space-evenly;
}
[class*="flex-"][class*="jaround"] {
	justify-content: space-around;
}
[class*="flex-"][class*="jbetween"] {
	justify-content: space-between;
}

[class*="flex-"][class*="acenter"] {
	align-items: center;
}
[class*="flex-"][class*="astretch"] {
	align-items: stretch;
}
[class*="flex-"][class*="astart"] {
	align-items: flex-start;
}

/* [class*="size-100"][class*="-100"] {
	width: 100%;
	height: 100%;
} */

.gap-2 {
	gap: 2rem;
}
.gap-1 {
	gap: 1rem;
}
.gap-05 {
	gap: 0.5rem;
}

[class*="grid-"] {
	display: grid;
	justify-content: center;
}
.grid-row-gap-8 {
	grid-row-gap: 8em;
}
.grid-row-gap-4 {
	grid-row-gap: 4em;
}
.grid-row-gap-1-2 {
	grid-row-gap: 1.2em;
}

.website-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

/* everything below the navbar+header */
.website-content-container {
	background-color: var(--sky-blue-bg);
	margin-top: 40px; /* sets it below the header */
}

.inset-box-shadow {
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.15);
}
.inset-box-shadow--dark {
	box-shadow: var(--inset-box-shadow--dark);
}

.panel-shadow--dark {
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3),
		0 8px 20px 8px rgba(0, 0, 0, 0.19);
}

.panel-shadow--light {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/* box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3),
		0 8px 20px 4px rgba(0, 0, 0, 0.19); */
}

.padding-1 {
	padding: 1rem;
}
.padding-2 {
	padding: 2rem;
}

.padding-4 {
	padding: 4vh 4vw;
}
.padding-4--bot {
	padding-bottom: 4em;
}
.padding-2--bot {
	padding-bottom: 2em;
}

.padding-2--horizontal {
	padding: 0 2em;
}
.padding-2--vertical {
	padding: 2em;
}
.padding-1--vertical {
	padding: 2em;
}

.margin-1--top {
	margin-top: 1rem;
}

.margin-4--top {
	margin-top: 4rem;
}

.margin-6--top {
	margin-top: 6rem;
}

.margin-1--bot {
	margin-bottom: 1rem;
}
/* 
.margin-6--v {
	margin: 6rem auto;
} */


.border-sm {
	border: 1px solid black;
}

.text-shadow--sm {
	text-shadow: -2px 2px 5px #000;
}

.text-shadow--lg {
	text-shadow: -3px 3px 8px #000;
}
.page--subheading {
	padding-top: 10px;
	text-align: center;
	font-size: 2em;
}

/* .card--paragraph {
	width: clamp(45ch, 50%, 75ch);
} */

.white {
	background-color: #fff;
}

.text-white {
	color: #fff;
}

.text-center {
	text-align: center;
}

.width-400 {
	margin: auto;
	max-width: 400px;
}

/* Dark background around text block */
.text-wrapper-shadow {
	margin: 2rem auto;
	/* border: 2px solid #888;
	border-radius: 10px; */
	max-width: 800px;
	padding: 1rem;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	text-shadow: -1px 1px #000;
	border-radius: 5px;
	color: #fff;
}

.text--large {
	font-size: var(--font--large);
}

@media screen and (max-width: 960px) {
	.card--heading {
		font-size: var(--page-title-medium);
	}

	.text-shadow--lg {
		text-shadow: -2px 2px #000;
	}
	.card--heading-margin {
		margin-top: -100px;
	}

	.text-shadow--lg {
		text-shadow: -3px 3px 10px #000;
	}
	.text-shadow--sm {
		text-shadow: -2px 2px 6px #000;
	}
}

/* @media screen and (max-width: 768px) {
	.card--heading {
		font-size: 50px;
	}
} */

@media screen and (max-width: 480px) {
	.text-shadow--lg {
		text-shadow: -1px 1px 8px #000;
	}
	.text-shadow--sm {
		text-shadow: -1px 1px 8px #000;
	}

	.card--heading-margin {
		margin-top: -100px;
	}
}
