* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "PT Sans", sans-serif;
}

:root {
	--subheading-gray: #444;
	--input-placeholder--light: #b1b1b1;
	--footer-background-color: #242424;
	--footer-content--width: 1000px;
	--schedule--item-height: 380px;
	--card-border-radius: 4px;
	--min-page-width: 375px;

	--sky-blue-bg: rgba(193, 248, 255, 0.5);

	/* header orange */
	--orange-bg--r: 223;
	--orange-bg--g: 120;
	--orange-bg--b: 36;

	--page-title-xlarge: 90px;
	--page-title-large: 72px;
	--page-title-medium: 64px;
	--page-title-small: 50px;
	--page-title-xsmall: 25px;

	--page-title-bg-color: #eee;
	--page-title-container-color: var(--sky-blue-bg);
	--page-title-text-color: #fff;

	--font--xlarge: 36px;
	--font--large: 26px;
	--font--normal: 20px;
	--font--medium: 16px;
	--font--small: 14px;

	--icon--normal: 22px;
	--icon--medium: 20px;
	--icon--small: 18px;
}

.website-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.website-content-container {
	/* padding: 2vh 2vw; */
	background-color: var(--sky-blue-bg);
	margin-top: 40px; /* sets it below the header */
	/* padding-bottom: 2rem; */
}

.inset-box-shadow {
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.15);
}

.panel--shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-heading {
	display: flex;
	/* height: 10vh; */
	align-items: center;
	justify-content: center;
	color: #fff;
	text-align: center;
}

.card-heading-shadow {
	font-size: var(--page-title-large);
	text-shadow: -3px 3px #000;
}

.card-heading-margin {
	margin-top: -100px;
}

.panel-container {
	padding: 2vh 2vw;
}

.card {
	border-radius: var(--card-border-radius);
	/* border: 1px solid black; */
	/* margin: 6rem; */
}

.white {
	background-color: white;
}

.center-text {
	text-align: center;
}

.width-400 {
	margin: auto;
	max-width: 400px;
}

/* Dark background around text block */
.text-wrapper-shadow {
	margin: 2rem auto;
	/* border: 2px solid #888;
	border-radius: 10px; */
	max-width: 800px;
	padding: 1rem;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	text-shadow: -1px 1px #000;
	border-radius: 5px;
	color: #fff;
}

.text--large {
	font-size: var(--font--large);
}

.homepage--card {
	width: auto;

	/* transform: translateY(-50%); */
	color: #fff;
	padding: 2vh 4vw;
}

@media screen and (max-width: 960px) {
	.card-heading-shadow {
		font-size: var(--page-title-medium);
		text-shadow: -2px 2px #000;
	}
	.card-heading-margin {
		margin-top: -100px;
	}
}

/* @media screen and (max-width: 768px) {
	.card-heading {
		font-size: 50px;
	}
} */

@media screen and (max-width: 480px) {
	.card-heading-shadow {
		font-size: var(--page-title-small);
		text-shadow: -1px 1px #000;
	}
	.card-heading-margin {
		margin-top: -100px;
	}
}
